<tr class="bg-base-300">
  <th colspan="4">
    {{ title }} <span class="badge badge-primary">{{ this.items|length }}</span>
  </th>
</tr>
{% for item in this.items %}
  <tr>
    <td><a href="{{ item.animeUrl|shikimori_url }}" class="link">{{ item.animeName }}</a></td>
    <td>{{ item.animeKind.value }}</td>
    <td>{{ item.animeStatus.value }}</td>
    <td>{% if item.score > 0 %}{{ item.score }}{% else %}&mdash;{% endif %}</td>
  </tr>
{% endfor %}
