{% set starIcon %} {# saves ~20ms of page rendering time of ~100 series in dev env #}
  <twig:Icon:Star />
{% endset %}

<section class="series-list columns-2 mt-4">
  {% for series in this.series %}
    <div class="bg-base-200 rounded-box shadow-lg shadow-base-300 mb-5 p-5 break-inside-avoid">
      <h1 class="text-2xl font-bold">{{ series.name }}</h1>

      <div class="join my-4">
        {% set seriesRate = this.seriesRate(series) %}
        <span class="btn btn-sm btn-primary cursor-default join-item">
          {{ starIcon }}
          {{ seriesRate.score|round(2) }}
        </span>
        {% if not seriesRate.dropped %}
          <twig:SimpleForm
            action="{{ path('app_series_drop', {seriesRate: seriesRate.id}) }}"
            class="btn btn-sm btn-secondary underline join-item"
            disabled="{{ this.user.sync.inProgress }}"
          >
            <span class="uppercase">Drop series</span>
          </twig:SimpleForm>
        {% else %}
          <twig:SimpleForm
            action="{{ path('app_series_restore', {seriesRate: seriesRate.id}) }}"
            class="btn btn-sm btn-secondary underline join-item"
            disabled="{{ this.user.sync.inProgress }}"
          >
            <span class="uppercase">Restore series</span>
          </twig:SimpleForm>
        {% endif %}
      </div>

      {% for anime in this.animesBySeries(series) %}
        <div class="mt-2">
          <div class="series-list-item join">
            {% set animeRate = this.animeRate(anime) %}
            {% if animeRate is not null and animeRate.status.value != 'skipped' %}
              {% if animeRate.score != 0 %}
                <a class="btn btn-sm btn-primary cursor-default join-item">
                  {{ starIcon }}
                  {{ animeRate.score }}
                </a>
              {% endif %}
              {% if animeRate.status.value != 'completed' %}
                <a class="btn btn-sm btn-accent cursor-default join-item">{{ animeRate.status.value }}</a>
              {% endif %}
            {% elseif animeRate is not null %}
              <twig:SimpleForm
                action="{{ path('app_anime_observe', {anime: anime.id}) }}"
                class="btn btn-sm btn-secondary underline join-item"
                disabled="{{ this.user.sync.inProgress }}"
              >
                <span class="uppercase">Observe</span>
              </twig:SimpleForm>
            {% else %}
              <twig:SimpleForm
                action="{{ path('app_anime_skip', {anime: anime.id}) }}"
                class="btn btn-sm btn-secondary underline join-item"
                disabled="{{ this.user.sync.inProgress }}"
              >
                <span class="uppercase">Skip</span>
              </twig:SimpleForm>
            {% endif %}

            {% if anime.kind is not null %}
              <span class="btn btn-sm btn-primary cursor-default join-item">{{ anime.kind.value }}</span>
            {% endif %}
            {% if anime.status.value != 'released' %}
              <span class="btn btn-sm btn-accent cursor-default join-item">{{ anime.status.value }}</span>
            {% endif %}

            {% set animeCompleted = animeRate is not null and animeRate.status.value == 'completed' %}
            <a href="{{ this.url(anime) }}" class="{{ html_classes('btn', 'btn-sm', 'underline', 'join-item', {
              'btn-success': animeCompleted,
              'btn-warning': not animeCompleted,
            }) }}">
              <span class="tooltip" data-tip="{{ anime.name }}">
                {{ this.tryShorteningAnimeNameLength(series, anime) }}
              </span>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</section>
